@import "app/styles/index";

.sider,
.overlay {
	@include media-breakpoint-xl {
		display: none;
	}
}

.sider {
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	height: 100vh;
	background-color: $white-color;

	:global .ant-layout-sider-children {
		height: 100%;
	}
}

.overlay {
	position: absolute;
	z-index: 5;
	background: $black-color;
	inset: 0;
	opacity: 0.5;
}
