@import "app/styles/index";

.label {
	display: inline-block;
	margin-bottom: 5px;
	color: $black-color;
	font-weight: 600;

	@include text-xs;

	@include media-breakpoint-md {
		margin-bottom: 10px;

		@include text-sm;
	}

	@include media-breakpoint-xl {
		@include text-base;
	}
}

.asterisk {
	@include asterisk-styles;
}

.error {
	@include error-styles;
}
