@import "app/styles/index";

div.carouselWrapper {
	overflow: visible;
}

.slide {
	margin-right: 0;
	margin-left: 0;

	@include media-breakpoint-sm {
		margin-right: 10px;
		margin-left: 10px;
	}

	@include media-breakpoint-lg {
		margin-right: 15px;
		margin-left: 15px;
	}
}
