.fields {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.item {
	flex: 1 1 0%;
}

.button {
	width: 100%;
	margin-top: 50px;
}
