@import "app/styles/index";

.wrapper {
	.menu {
		&:global > .ant-menu-item a {
			color: $black-color;
			font-weight: 500;

			@include text-xl;
		}

		&:global > .ant-menu-item-selected a {
			color: $primary-color;
		}
	}
}
