@import "app/styles/index";

.card {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background-color: $white-color;
}

.image {
	overflow: hidden;
	height: 240px;
	border-radius: 0 0 30px 30px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.content {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	padding: 20px 30px;
	row-gap: 20px;

	@include media-breakpoint-lg {
		padding: 40px 60px;
	}
}

.value {
	margin-bottom: 4px;
	font-weight: 600;

	@include text-lg;

	@include media-breakpoint-md {
		@include text-2xl;
	}

	@include media-breakpoint-xl {
		@include text-3xl;
	}
}

.description {
	color: $grey-color-light;
	font-weight: 600;

	@include text-base;

	@include media-breakpoint-md {
		@include text-lg;
	}

	@include media-breakpoint-xl {
		@include text-xl;
	}
}
