@import "app/styles/index";

.wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	border-radius: 30px;
	background-color: $white-color;

	@include media-breakpoint-lg {
		flex-direction: row;
	}

	img {
		width: 100%;
	}
}

.content {
	padding: 25px;

	@include media-breakpoint-xl {
		padding: 70px;
	}
}

.title {
	margin-bottom: 15px;
	font-weight: 600;

	@include text-xl;

	@include media-breakpoint-md {
		margin-bottom: 40px;

		@include text-3xl;
	}

	@include media-breakpoint-xl {
		line-height: 46px !important;

		@include text-4xl;
	}

	span {
		color: $primary-color;
	}
}

.description {
	margin-bottom: 20px;
	color: $grey-color-dark;
	font-weight: 600;

	@include text-base;

	@include media-breakpoint-md {
		@include text-lg;
	}

	@include media-breakpoint-xl {
		margin-bottom: 50px;
		line-height: 30px !important;

		@include text-xl;
	}

	span {
		display: inline-block;
	}

	& > :not([hidden]) ~ :not([hidden]) {
		margin-top: 20px;
	}
}

.button {
	padding: 12px 15px;
	margin: 0 auto;
	font-weight: 500;

	@include text-sm;

	@include media-breakpoint-md {
		padding: 15px 20px;
		margin: 0;

		@include text-base;
	}

	@include media-breakpoint-xl {
		@include text-xl;
	}
}

.arrow {
	display: flex;
	width: 15px;
	height: 15px;
	align-items: center;
	justify-content: center;
	padding: 2px;
	border: 1px solid $white-color;
	border-radius: 50%;

	@include media-breakpoint-md {
		width: 25px;
		height: 25px;
		padding: 5px;
	}

	@include media-breakpoint-xl {
		width: 35px;
		height: 35px;
		padding: 0;
	}
}
