@import "app/styles/index";

.wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 75px;
	row-gap: 40px;

	@include media-breakpoint-lg {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 150px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include media-breakpoint-lg {
		max-width: 40%;
	}
}

.pretitle {
	color: $primary-color;
	font-weight: 700;
	text-transform: uppercase;

	@include text-base;
}

.title {
	margin: 15px 0;
	font-weight: 600;

	@include text-xl;

	@include media-breakpoint-md {
		margin-bottom: 30px;

		@include text-3xl;
	}

	@include media-breakpoint-xl {
		@include text-4xl;
	}

	span {
		color: $primary-color;
	}
}

.description {
	color: $grey-color-dark;
	font-weight: 600;

	@include text-base;

	@include media-breakpoint-md {
		@include text-lg;
	}

	@include media-breakpoint-xl {
		line-height: 30px !important;

		@include text-xl;
	}
}

.carouselWrapper {
	@include media-breakpoint-lg {
		max-width: 35%;
	}
}
