@import "app/styles/index";

.banner {
	position: relative;
	margin-bottom: 25px;
	background-color: $blue-color-dark-opacity;

	@include media-breakpoint-md {
		margin-bottom: 75px;
	}

	@include media-breakpoint-xl {
		margin-bottom: 150px;
	}
}

.wrapper {
	position: relative;
	overflow: visible !important;

	@include container-wrapper;
}

.content {
	padding: 55px 0;
	margin-left: auto;

	@include media-breakpoint-md {
		max-width: 50%;
	}
}

.image {
	position: absolute;
	left: 0;
	display: none;
	width: 70%;

	@include media-breakpoint-md {
		display: block;
	}

	@include media-breakpoint-xl {
		width: 60%;
	}
}

.title {
	font-weight: 700;

	@include text-xl;

	@include media-breakpoint-md {
		@include text-4xl;
	}

	@include media-breakpoint-xl {
		margin-bottom: 40px;

		@include text-6xl;
	}

	span {
		display: inline-block;
		color: $primary-color;
	}
}

.description {
	@include text-xl;

	@include media-breakpoint-md {
		@include text-2xl;
	}

	@include media-breakpoint-xl {
		@include text-4xl;
	}
}
